* {
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    background: #161718;
}

.header {
    padding: 30px;
    text-align: center;
    background: #1E2021;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E2021;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background: #AC1D42;
}

.rightcolumn {
    margin-top: 10px;
    float: left;
    width: 25%;
    padding: 0 10px;
}

.middlecolumn {
    margin-top: 10px;
    float: left;
    width: 37.5%;
    padding: 0 10px;
}

.leftcolumn {
    margin-top: 10px;
    float: left;
    width: 37.5%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(134, 134, 134, 0.2);
    padding: 16px;
    text-align: left;
    background-color: rgb(34, 36, 37);
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .leftcolumn, .middlecolumn, .rightcolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}